*{
    margin: 10px;
}
.todoapp_container{
    min-height: 500px;
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    /* align-items: center; */
    background:linear-gradient(to right, aqua,rgb(121, 247, 121));
}

.header{
    height:50px;
    width:100%;
    background-color: wheat;
    margin: 0px auto;
}
.app{
    display: flex;
    justify-content: center;
}
.usertask_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#userinput{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.custom_btn{
    padding: 10px;
    width:60px;
}
.custom_btn:hover{
    background-color: rgba(35, 13, 142, 0.863);
}
.todotask{
    display: flex;
    flex-direction: row;
}
li{
    width:100px;
    cursor: pointer;
   
}
.taskcompleted{
    text-decoration: line-through;
}
i{
    cursor: pointer;
}